.navbar-brand > img {
	max-height: 100%;
}

.background {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 70px; /* Nav height + padding bottom */
}

img.grayscale {
	filter: gray(75%); /* IE6-9 */
	filter: grayscale(0.75); /* Microsoft Edge and Firefox 35+ */
	-webkit-filter: grayscale(0.75); /* Google Chrome, Safari 6+ & Opera 15+ */
}

img.dimmed {
	opacity: 0.25;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}
.navbar-collapse.collapse.in {
    background-color: #fff;
}
.navbar-toggle .icon-bar {
	background-color: #444;
}
.navbar-nav > li.hasbutton {
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.nav > li:focus, .nav > li:hover,
.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
    text-decoration: none;
}
.collapse.navbar-collapse {
    border-bottom: 1px solid #5da196;  	
}
.navbar .divider-vertical {
    height: 35px;
    margin: 0 9px;
    margin-top: 10px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #5da196;
}

button.navbar-toggle.collapsed {
	border: 1px solid #eaeaea;
}
button.navbar-toggle, button.navbar-toggle.collapsed:HOVER, button.navbar-toggle.collapsed:FOCUS {
	border: 1px solid #777;
}